// This is an example environment file for the Pen SMS application. Please copy this file to a new file named `.env` and replace `YOUR_PASSWORD` with your actual PostgreSQL password.
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/pen_sms?schema=public"